*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{background-color: #f7d5d571;}
h1{
    color: rgb(204, 15, 204);
    font-size: 25px;
    font-weight: medium;
}
h2{
    color: rgb(29, 95, 51);
    font-size: 20px;
    font-weight: 500;
}
p{
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 14px;
}
img{border: 3px dotted rgb(0, 255, 106);}
/* Вертикальное меню*/
.menu1 ul{
    width: 100%;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}
.menu1 a{
    color: rgb(40, 16, 146);
    margin-right: 20px;
}
.menu ul{
    width: 100%;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}
.menu a{
    color: rgb(78, 49, 49);
    text-decoration: none;
    margin-right: 20px;
}
td.personalimg1>img{
    width: 160px;
    box-sizing: border-box;
    object-fit: contain;
    background-color: rgb(52, 10, 167);
}
td.personalimg2>img{
    width: 160px;
    box-sizing: border-box;
    object-fit: contain;
    background-color: rgb(52, 10, 167);
}
td.personalimg3>img{
    width: 160px;
    box-sizing: border-box;
    object-fit: contain;
    background-color: rgb(52, 10, 167);
}
td.personalimg4>img{
    width: 160px;
    box-sizing: border-box;
    object-fit: contain;
    background-color: rgb(52, 10, 167);
}
a.mvd{
    color: rgb(117, 112, 117);
}
.pod{
    color: #098a09;
    font-family: Garamond;
    font-size: 16px;
} 
.gorizont{
    width: 100%;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
     
}
.gorizont a{
    color: rgb(129, 119, 119);
    text-decoration: none;
    margin-right: 20px;
}
.cont1 {
    color: #460909;
    font-family: 'Zapf', Times, serif;
    font-style: oblique;
    font-size: 18px;
}
.order{
    color: #091372;
    font-family: 'Univers', Georgia, serif; 
    font-style: italic;
    font-variant: normal;
    font-weight: bold;

}
.order label{
    color: #091372;
    font-family: 'Univers', Georgia, serif;
    font-style: italic; 
    font-variant: normal;
    font-weight: bold;  
}
.order input{
    color: #226d13;
    font-family: 'Times New Roman', Times, serif;   
}
.tex{
    color: #054d4975;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 14px;
    font-weight: bold;  
}
.educ{
    color: #09172b52;
    font-family: 'Comic Sans', Times, serif;
    font-style: oblique;
    font-size: 20px;
    font-weight: bold;  
}    
.educ h3{
    color: #0765e752;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 22px;
    font-weight: bold;    
}
.emp {
    color: #15025a52;
    font-family: 'Verdana', Times, serif;
    font-style: normal;
    font-size: 22px;
    font-weight: bold;  
}
#container {
    width: 100%; /* Ширина слоя */
    margin: 0 auto; /* Выравнивание по центру */
    }
    #header {
    font-size: 2.2em; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    padding: 5px; /* Отступы вокруг текста */
    color: #ffe; /* Цвет текста */
    }
    #vermenu{
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #a9d62d;

    }
    #sidebar { 
        width: 125px; /* Ширина слоя */
        padding: 10px; /* Отступы вокруг текста */
    float: left; /* Обтекание по правому краю */
    text-align: center;
    background: #81aa10ad;
    }
    #content {
    margin-left: 130px; /* Отступ слева */
    padding: 10px; /* Поля вокруг текста */
    background: #a8f3b2;
    }
#footer {
    padding: 5px; /* Отступы вокруг текста */
    clear: left; /* Отменяем действие float */
    background: #a9d62d;
    }
   .menu A:link { text-decoration: none; }
.menu A:visited { text-decoration: none; }
.menu A:active { text-decoration: none; }
.menu A:hover {  
    padding-left: 10px;
text-decoration: underline overline; /* Ссылка подчеркнутая и надчеркнутая */
color: brown;   /* Цвет ссылки */
}
.menu1 A:visited { text-decoration: none; }
.menu1 A:active { text-decoration: none; }
.menu1 A:hover {
    text-decoration: none;   
color: rgb(28, 111, 219);   /* Цвет ссылки */
}
.order input:hover {
    text-decoration: none;   
color: rgb(28, 111, 219);   /* Цвет ссылки */
}
 ul {
    list-style-type: disc;
    }
 ol{
    list-style-type: decimal;  
 }
 .menu1 li {
    display: inline-block; /* Выстраиваем по горизонтали */
    border-right: 2px solid rgb(24, 23, 23);
}
.educ table{
    background: rgb(240, 221, 221);
    border: 1px  #5a77fad5;
    margin-top:50px;
    color: #94b2e0;
    font-family: 'Comic Sans', Times, serif;
    font-style: oblique;
    font-size: 20px;
    font-weight: bold;  
}
 .tr1 td{
    background: rgba(247, 4, 4, 0.726); /* Цвет фона ячеек */
    padding: 2px; /* Поля вокруг текста */
    color: #f0f2f5;
    font-family: 'Comic Sans', Times, serif;
    font-style: oblique;
    font-size: 20px;
    font-weight: bold;  
    }
    .educ table  td:hover{
        visibility: hidden;
        }