table {
    background: #bd1b1b; 
    border: 5px double #8affbd;
    margin-top:50px;
    }
    
    
    table {
    background: #ffffff; 
    border: 5px double #8affbd;
    margin-top:50px;
    font-size:1pt;
    
    }
    
    td{
    font-family: Calibri;
    font-style: normal;
    font-size: 12pt;
    color:#000000;
    padding: 10px; 
    background: #ffffff; 
    border: 5px outset #8affbd;
    }

    
    td:hover{
    visibility: hidden;
    }
    
    th:hover{
    visibility: hidden;
    }
  